<li class="dropdown">
  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  	Корзина 
  	<span class="badge"></span>
  	<span class="caret"></span>
  </a>
  <% if LineItem.where(user_id: current_user.id).length == 0 then %>
    <ol class="dropdown-menu">
      <li><b>Ваша корзина пуста!</b>
      </li>
  	</ol>
  <% else %>
    <% total = 0 %>
		<ol class="dropdown-menu">
      <table class="table">
        <tr>
        	<th>Название</th>
        	<th>Цена</th>
         	<th>Количество</th>
         	<th>Сумма</th>
        </tr>
            <% LineItem.select("title, sum(quantity) as quantity, sum(price) as price").where(user: current_user).group("title").each do |item_line| %>
              <tr>
                <td><%= item_line.title %></td>
                <td><%= item_line.price %></td>
                <td><%= item_line.quantity %></td>
                <td><%= item_line.total_price %></td>
                <% total = total += item_line.total_price %>
                
              </tr>
            <% end %>
      	<tr>
      		<td colspan="3"><b>Общая сумма: <%= total %></b></td>
      		<td colspan="2"><%= link_to 'Очистить корзину', line_items_destroy_all_path, method: :delete %></td>
      	</tr>
      	<tr>
      		<td colspan="4" align="center">
      			<%= link_to 'Оформить заказ', '#' %>
      		</td>
      	</tr>
    	</table>
    </ol>
  <% end %>
</li>
