<div class="row jumbotron">
	<div class="col-md-3">
		<%= image_tag @establishment.image.url(:medium), :class =>"img-rounded" %>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12 col-md-offset-1">				
				<h1><%= @establishment.title %></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-md-offset-1	">				
				<%= @establishment.description %> <br>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
			<table class=table>
				<tr>
					<th>Название</th>
					<th width="600px">Описание</th>
					<th>Стоимость</th>
					<%= content_tag(:th, "Количество") if user_signed_in? %>
				</tr>	
				<% @establishment.dishes.each do |dish|%>
					<tr>
							<td><%= dish.title %></td>
							<td><%= truncate(dish.description, length: 95) %></td>
							<td><%= dish.price %></td>
							<td>
								<% if user_signed_in? %>
									<%= form_for @line_item do |f|%>
										<%= f.hidden_field :title, value: dish.title %>
										<%= f.hidden_field :price, value: dish.price %>
										<%= f.hidden_field :establishment_id, value: @establishment.id %>
										<%= f.hidden_field :user_id, value: current_user.id %>
										<%= f.number_field :quantity, min: 1, value: 1 %>	
										<%= f.submit "Добавить" %>						
									<% end %>
								<% end %>
							</td>
						</tr>
				<% end %>
			</table>			
	</div>	
</div>