<!DOCTYPE html>
<html>
<head>
  <title>ShopBook.kg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= admin_establishments_path %>">Админка</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= admin_establishments_path %>">Заведения</a></li>
        <li><a href="<%= admin_dishes_path %>">Блюда</a></li>
        <li><a href="<%= admin_categories_path %>">Категории</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= root_path %>"><b>На сайт</b></a></li>
        <li class="dropdown">
          <a href="<%= admin_establishments_path %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Добавить <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= new_admin_establishment_path %>">Заведение</a></li>
            <li><a href="<%= new_admin_dish_path %>">Блюдо</a></li>
            <li><a href="#">Категорию</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

  <%= yield %>

</div>
</body>
</html>
