<%= form_for [:admin, @dish] do |f| %>	
	<div style="float: left;">
		<div>
			<%= f.label :Название %><br>
			<%= f.text_field :title %>
		</div><br>

		<div>
			<%= f.label :Описание %><br>
			<%= f.text_area :description %>
		</div><br>

		<div>
			<%= f.label :Категория %><br>
			<%= f.collection_select :category_id, Category.all, :id, :title %>
		</div><br>
				
		<div>
			<%= f.label :Цена %><br>
			<%= f.text_field :price %>
		</div><br>

		<div>
			<%= f.submit %><br>
		</div>
	</div>
<% end %>