<h1>Все блюда:</h1>
<table class="table">
	<tr>
		<th>Название</th>
		<th>Описание</th>
		<th>Стоимость</th>
		<th>Категория</th>
		<th>Редактировать</th>
		<th>Удалить</th>
	</tr>

	<% @dishes.each do |dish| %>
		<tr>
			<td><%= dish.title %></td>
			<td><%= truncate(dish.description, length: 95) %></td>
			<td><%= dish.price %></td>
			<td><%= dish.category.title %></td>
      <td><%= link_to 'Edit', edit_admin_dish_path(dish) %></td>
      <td><%= link_to 'Destroy', admin_dish_path(dish), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>